<div class="boximg">
    <img src="../../../assets/images/nav.jpg">
</div>
<div class="box">
    <div class="left">
        <div class="leftbox">
            <ul>
                <li id="title"><span>信息中心</span></li>

                <li class="content"><a [routerLink]="['/pblshome/messagebox/noread']" routerLinkActive="router-link-active"><i
                            class="pi pi-fw pi-folder"></i>我的信息</a></li>
                <!-- <li class="content"><a [routerLink]="['/pblshome/messagebox/noread']" routerLinkActive="router-link-active"><i
                            class="pi pi-fw pi-folder-open"></i>已读信息</a></li> -->
            
            </ul>
        </div>
    </div>
    <div class="right">
        <div class="rightbox">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>
