<div class="login ">
    <div class="login-start">
        <div class="login-group">
            <h1 title="login">登录</h1>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
         
            <div class="ui-g ui-fluid">
                <div class="ui-g-12 ui-md-4">
                    <div class="ui-inputgroup">
                        <i class="pi pi-user"></i>
                        <input type="email"  
                        name="email"
                        
                        formControlName="loginEmail"
                        pattern="^([a-zA-Z0-9]+[_|_|.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|_|.]?)*[a-zA-Z0-9]+.[a-zA-Z]{2,4}$"
                        pInputText 
                        placeholder="用户邮箱" 
                       
                        required/>
                    </div>
                </div>
            </div>
        <div *ngIf="loginForm.get('loginEmail').invalid && (loginForm.get('loginEmail').dirty || loginForm.get('loginEmail').touched)" class="errors">
        
            <small *ngIf="loginForm.get('loginEmail').errors.required">
                请填写邮箱！
            </small>
            <small *ngIf="loginForm.get('loginEmail').errors.pattern">
                请填写正确的邮箱地址！
            </small>
        </div>
           <!-- <small *ngIf="!message">aaaaaaaaa</small> -->


            <div class="ui-g ui-fluid">
                <div class="ui-g-12 ui-md-4">
                    <div class="ui-inputgroup">
                     
                        <i class="pi pi-lock"></i>
                        <input type="password" 
                        pPassword 
                        formControlName="loginPsd"
                        maxlength="18"
                        minlength="6"
                       
                        placeholder="密码"/>

                    </div>
                </div>
            </div>
            <div *ngIf="loginForm.get('loginPsd').invalid && (loginForm.get('loginPsd').dirty || loginForm.get('loginPsd').touched)"
                class="errors">

                <small *ngIf="loginForm.get('loginPsd').errors.required">
                    请填写密码！
                </small>
               
            </div>


            <a class="reset-phone" routerLink="/reset-password">忘记密码?</a>
            <a class="register" routerLink="/register">立即注册</a>
            <button pButton type="submit" [disabled]="!loginForm.valid" label="登录" class="ui-button-rounded ui-button-success" ></button>
</form>
        </div>
    </div>
</div>
<p-confirmDialog key="positionDialog" [position]="position"></p-confirmDialog>