<div class="content">
    <div class="title"><span><i class="pi pi-fw pi-tags"></i> 课程名单</span></div>
    <div>

    
        <table>
            <tr id="start">
                <th class="start">姓名</th>
                <th class="next">班级</th>
                <th class="end">身份</th>
            </tr>
            <tr *ngFor="let item of member">
                <td class="start">
                    {{item.student_name}}
                </td>
                <td class="next">
                {{cname}}
                </td>
                <td class="end">
                学生
                </td>
            </tr>
            <tr>
                <td class="start">
                {{cteacher_name}}
                </td>
                <td class="next">
                    {{cname}}
                </td>
                <td class="end">
                    教师
                </td>
            </tr>
        </table>

       
      
       

    </div>


</div>
<p-confirmDialog key="positionDialog" [position]="position"></p-confirmDialog>
