<div class="content">

    <p>新建项目</p>
    <div class="addtask">
        <form [formGroup]="creatcForm" (ngSubmit)="onSubmit()">


            <div class="taskc">
                <span>项目名称</span><input name="taskname" formControlName="taskname" required placeholder="课程名称">
            </div>

            <div class="taskc">
                <span>项目简介</span><textarea placeholder="课程简介" name="taskcon" formControlName="taskcon"
                    required></textarea>
            </div>
            <div class="taskc">
                <span>*结束时间应大于开始时间 </span>
            </div>
            <div class="taskc">
                <span>开始时间</span>
                <p-calendar class="v" name="start" formControlName="start" [showIcon]="true" required [(ngModel)]="st" [monthNavigator]="true" [yearNavigator]="true" yearRange="1800:3000"
                    [readonlyInput]="true" [minDate]="minDateValue"></p-calendar>
            </div>
            <div class="taskc">
                <span>结束时间</span> 
                <p-calendar class="v" name="end" formControlName="end" [showIcon]="true" required [(ngModel)]="en" [monthNavigator]="true" [yearNavigator]="true" yearRange="1800:3000"
                    [readonlyInput]="true" [minDate]="minDateValue2"></p-calendar>
            </div>


            <div class="taskc">
                <span>评分比重<span class="taskc" *ngIf="val1+val2+val3 != 100">
                    *总分为100%
                </span></span>
                <div class="val">
                    <div class="vall">
                    <span>教师评分:{{val1}}%</span>
                    <!-- <input type="text" pInputText [(ngModel)]="val1" style="width:10em" /> -->
                    <p-slider name="val1" formControlName="val1" [(ngModel)]="val1" [min]="0" [max]="100" [style]="{'width':'10em'}">
                    </p-slider>
                </div>
                <div class="vall">
                    <span>学生自评:{{val2}}%</span>
                    <!-- <input type="text" pInputText [(ngModel)]="val1" style="width:10em" /> -->
                    <p-slider name="val2" formControlName="val2" [(ngModel)]="val2" [min]="0" [max]="100" [style]="{'width':'10em'}">
                    </p-slider>
                </div>
                <div class="vall">
                    <span>学生互评:{{val3}}%</span>
                    <!-- <input type="text" pInputText [(ngModel)]="val1" style="width:10em" /> -->
                    <p-slider name="val3" formControlName="val3" [(ngModel)]="val3" [min]="0" [max]="100" [style]="{'width':'10em'}">
                    </p-slider>
                </div>
                </div>               
            </div>
          
            <div class="task2">
                <button id="but1" pButton type="button" type="submit" label="发布" class="ui-button-rounded"
                    [disabled]="!creatcForm.valid || (en <st) || (val1 + val2 + val3 != 100)"></button>
                <button id="but2" pButton type="button" label="取消" class="ui-button-rounded" (click)="clean()"></button>
            </div>

        </form>






    </div>



</div>
<p-confirmDialog key="positionDialog" [position]="position"></p-confirmDialog>
