<div class="boximg">
    <img id="nav" src="../../../assets/images/nav.jpg">
</div>
<!-- 组员页面 -->

<!-- 组长页面 -->
<div class="box" >
    <div class="left">
        <div class="leftbox">
            <ul>
                <li id="title">
                   
                    <span><a [routerLink]="['/pblshome/studentc/mypjlist']" [queryParams]="{cid: cid}" routerLinkActive="router-link-active"> 退出{{name}}</a></span>
                </li>
                <!-- <li class="content"><a [routerLink]="['/pblshome/user/userhome']"
                        routerLinkActive="router-link-active"><i class="pi pi-fw pi-home"></i>首页</a></li> -->
                <li class="content"><a [routerLink]="['/pblshome/studentp/details']"
                        [queryParams]="{pid: project_id, leader:leader,cid: cid}" routerLinkActive="router-link-active"><i
                            class="pi pi-align-justify"></i>项目详情</a></li>
                <li class="content" *ngIf="leader == 1"><a [routerLink]="['/pblshome/studentp/pjlist']" [queryParams]="{pid: project_id, leader:leader,cid: cid}"
                                    routerLinkActive="router-link-active"><i class="pi pi-fw pi-copy"></i>项目任务</a></li>
                <li class="content"><a [routerLink]="['/pblshome/studentp/mypjlist']" [queryParams]="{pid: project_id,leader:leader,cid: cid}"
                        routerLinkActive="router-link-active"><i class="pi pi-fw pi-file"></i>我的任务</a></li>
                <li class="content"><a [routerLink]="['/pblshome/studentp/board']" [queryParams]="{pid: project_id, leader:leader,cid: cid}"
                        routerLinkActive="router-link-active"><i class="pi pi-fw pi-calendar"></i>讨论板</a></li>
                <li class="content"><a [routerLink]="['/pblshome/studentp/files']" [queryParams]="{pid: project_id, leader:leader,cid: cid}"
                        routerLinkActive="router-link-active"><i class="pi pi-folder"></i>文件管理</a></li>
                <li class="content"><a [routerLink]="['/pblshome/studentp/member']" [queryParams]="{pid: project_id, leader:leader,cid: cid}"
                        routerLinkActive="router-link-active"><i class="pi pi-users"></i>小组成员</a></li>
            <li class="content"><a [routerLink]="['/pblshome/studentp/grades']" [queryParams]="{pid: project_id, leader:leader, status: status,cid: cid}"
                    routerLinkActive="router-link-active"><i class="pi pi-th-large"></i>我的成绩</a></li>
            <!-- <li class="content"><a [routerLink]="['/pblshome/studentp/messagebox']" [queryParams]="{pid: project_id, leader:leader}"
                            routerLinkActive="router-link-active"><i class="pi pi-envelope"></i>收件箱</a></li> -->
            <li class="content"><a [routerLink]="['/pblshome/studentp/score']" [queryParams]="{pid: project_id, leader:leader,status: status,cid: cid}"
                    routerLinkActive="router-link-active"><i class="pi pi-check"></i>评分</a></li>
            </ul>
        </div>
    </div>
    <div class="right">
        <div class="rightbox">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>