<div class="boximg">
    <img src="../../../assets/images/nav.jpg">
</div>
<div class="box">
    <div class="left">
        <div class="leftbox">
            <ul>
                <li id="title"><span>课程管理</span></li>
                <!-- <li class="content"><a [routerLink]="['/pblshome/scourses/uncourselist']"
                        routerLinkActive="router-link-active">开放课程</a></li> -->
                <li class="content"><a [routerLink]="['/teacherhome/tcourses/courselist']"
                        routerLinkActive="router-link-active">我的课程</a></li>
                <li class="content"><a [routerLink]="['/teacherhome/tcourses/creatc']"
                        routerLinkActive="router-link-active">新加课程</a></li>


            </ul>
        </div>
    </div>
    <div class="right">
        <div class="rightbox">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>

