.content {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 800px;
    height: 500px;

    /* background-color: #fafafa; */
    border: 0.5px solid #e7e7e7;
}

.title{
    text-align: left;
    padding-left: 3em;
    line-height: 71px;
    font-size: 16px;
    color:  #00a1d7;
     border-bottom:  1px solid #e7e7e7;
}

.user{
     text-align: left;
     padding-left: 6em;
     margin-top: 1em;
     line-height: 45px;
    font-size: 16px;
    color: #99a2aa;
}

 
input{
    width: 20em;
    height: 2em;
   color: #99a2aa;
}

#Psd1, #Psd2{
margin-left:2em;
}
#Psd3{
margin-left:0.8em;
}

span{
    margin-top: 0.5em;
    margin-left: 0.5em;
}

small{
    margin-left: 15em;
}

#btn1{
    width: 22em;
    margin-top: 3em;
    margin-left: 10em;
    background-color:  #00a1d7;

}

.link{
    margin-top: 0.5em;
    padding-left: 11em;
    font-size: 0.8em;
    color: #99a2aa;
}

#other{
    margin-left: 13em;
}

a{
    cursor:pointer;
    color:  #00a1d7;
    
}

.emailT{
     text-align: left;
     padding-left: 5em;
     margin-top: 1em;
     line-height: 45px;
    font-size: 16px;
    color: #99a2aa;
}

#code{
    margin-left: 6em;
}

.codeinput{
     margin-left: 5em;
}

#codeinput{
   width: auto;
   height: 2em;
   font-size: 1em;
   color: #99a2aa;
}

#but-captcha{
    margin-left: 2em;
     background-color:  #00a1d7;
}

#but-next{
    width: 22em;
    margin-top: 3em;
    margin-left: 7em;
     background-color:  #00a1d7;
}

.user2{
    padding-left: 4.5em;
    text-align: left;
     margin-top: 1em;
     line-height: 45px;
    font-size: 16px;
    color: #99a2aa;
    color: #99a2aa;

}

#P1{
    margin-left: 1.2em;
}

.s2{
    margin-left: 12em;
}

#s3{
    margin-left: 12em;
}


#btn2{
     width: 22em;
    margin-top: 3em;
    margin-left: 7em;
     background-color:  #00a1d7;
}