<div class="content">
    <div class="title"><span><i class="pi pi-fw pi-tags"></i> 修改密码</span></div>


<div class="boxone" *ngIf="divH1"  >
           <form [formGroup]="form1" (ngSubmit)="onSubmit1('top')"  novalidate>
                    <div class="user">
                        <span class="k">原密码：</span>
                        <input class="v" id="Psd1"
                        type={{type}} 
                        pPassword 
                        formControlName="Psd1"
                        maxlength="18" 
                        minlength="6"
                      
                        />
                        <span class="k">*6-18位字符！</span>  
                    </div>
                    <div *ngIf="form1.get('Psd1').invalid && (form1.get('Psd1').dirty || form1.get('Psd1').touched)"
                        class="errors">   
                        <small *ngIf="form1.get('Psd1').errors.required">
                            请填写密码！
                        </small>
                      
                    </div>

           
                    <div class="user">
                        <span class="k">新密码：</span>
                        <input class="v" id="Psd2"
                        type={{type}} 
                        pPassword 
                        formControlName="Psd2" 
                        maxlength="18" 
                        minlength="6"
                        />
                        <span class="k">*6-18位字符！</span>
                    </div>
                    <div *ngIf="form1.get('Psd2').invalid && (form1.get('Psd2').dirty || form1.get('Psd2').touched)" class="errors">
                        <small *ngIf="form1.get('Psd2').errors.required">
                            请填写密码！
                        </small>
                        
                    </div>
   
           
                    <div class="user">
                        <span class="k">确认密码：</span>
                        <input class="v" id="Psd3" 
                        type={{type}} 
                        pPassword 
                        formControlName="Psd3" 
                        maxlength="18" 
                        minlength="6"
                         />
                    <span class="k">*6-18位字符！</span>
                    </div>
                    <div *ngIf="form1.get('Psd3').invalid && (form1.get('Psd3').dirty || form1.get('Psd3').touched)"
                        class="errors">   
                        <small *ngIf="form1.get('Psd3').errors.required">
                            请填写密码！
                        </small>
                        
                        <div>
                            <small class="repsd" *ngIf="form1.get('Psd2') != form1.get('Psd3')">
                                两次密码不相同！请重新输入
                            </small>
                        </div>
                    </div>

                <button 
                id="btn1"
                [disabled]="!form1.valid" 
                pButton type="submit" label="保存"  
              
                class="ui-button-rounded "></button>

                
            <div class="link">
                   <span><a (click)="showPsd()"><i class={{className}} id="eye" ></i>显示密码</a></span>
                    <a  id="other" (click)="next()" >其他方式</a>
            </div>
        </form>
</div>


<div class="boxtwo" *ngIf="divH2">
    <form [formGroup]="form2" (ngSubmit)="onSubmit2('top')" novalidate>
        <div class="boxone" *ngIf="divH11">
         <span id="exit"><a (click)="exit()"><i class="pi pi-angle-left" id="eye"></i>返回</a></span>
            <div class="emailT">
                <p>邮箱找回密码----验证身份</p>
                <p>你的邮箱为{{email}},请点击“获取验证码”：</p>
            </div>
        
                        <div class="codeinput">
                            <input id="codeinput" type="text" pInputText placeholder="请输入校验码" formControlName="verifyCode" required>
                            <button id="but-captcha" pButton type="button" label={{tips}}
                                [disabled]="disabled" (click)="getCode('top')"
                                class="ui-button-rounded ">
                                <div class="tips"></div>
                            </button>
                        </div>
                
                <div *ngIf="form2.get('verifyCode').invalid && (form2.get('verifyCode').dirty || form2.get('verifyCode').touched)"
                    class="errors">
        
                    <small id="code" *ngIf="form2.get('verifyCode').errors.required">
                        请填写验证码！
                    </small>
                </div>
                <button id="but-next"
                    [disabled]=" !form2.get('verifyCode').valid" pButton
                    (click)="next2()" class="ui-button-rounded " label="下一步"></button>
            </div>
            <div class="boxtwo" *ngIf="divH22">

                <div class="emailT">
                    <p>邮箱找回密码----填写密码</p>
                    <p>请输入你的新密码：</p>
                </div>
                <div class="user2">
                    <span class="k">新密码：</span>
                    <input class="v" id="P1" type={{type}} pPassword formControlName="P1" maxlength="18" minlength="6"
                        />
                    <span class="k"><i class={{className}} id="eye" (click)="showPsd()"></i></span>
                </div>
                
                <div *ngIf="form2.get('P1').invalid && (form2.get('P1').dirty || form2.get('P1').touched)"
                    class="errors">
                    <small class="s2" *ngIf="form2.get('P1').errors.required">
                        请填写密码！
                    </small>
                   
                </div>
                
                
                <div class="user2">
                    <span class="k">确认密码：</span>
                    <input class="v" id="P2" type={{type}} pPassword formControlName="P2" maxlength="18" minlength="6"
                        />
                    <span class="k"><i class={{className}} id="eye" (click)="showPsd()"></i></span>
                
                </div>
                <div *ngIf="form2.get('P2').invalid && (form2.get('P2').dirty || form2.get('P2').touched)"
                    class="errors">
                    <small class="s2" *ngIf="form2.get('P2').errors.required">
                        请填写密码！
                    </small>
                   
                    <div>
                        <small id="s3" class="repsd" *ngIf="form2.get('P1') != form2.get('P2')">
                            两次密码不相同！请重新输入
                        </small>
                    </div>
                </div>

                <button id="btn2" [disabled]="!form2.valid" pButton type="submit" label="保存"
                    class="ui-button-rounded "></button>
            </div>
        
        
        </form>


    
 
</div>
<p-confirmDialog key="positionDialog" position="top"></p-confirmDialog>
</div>
