<div class="content">
    <div class="title"><span><i class="pi pi-fw pi-tags"></i> 个人首页</span></div>
    <div class="user">
        <div id="imgbox"><img [src]="image" class={{val1}}></div>
        <div id="namebox">
            <span id="name">{{name}}</span><a id="namea">超级会员</a>
        <div id="infobox">
           <p-progressBar id="customProgress" [value]="value"></p-progressBar> <span>LV8</span>
            <!-- <div id="info"><a id="infoa" [routerLink]="['/pblshome/user/info']" routerLinkActive="router-link-active">修改信息</a> </div> -->
        </div>
        </div>
    </div>

    <div class="user">
       <p>个性标签* <span> {{signature}}</span> </p>
    </div>


    


    <div class="user">

     
    </div>
    

</div>

