.content {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    min-width: 800px;
    min-height: 600px;
    margin-bottom: 2em;

    /* background-color: #fafafa; */
    border: 0.5px solid #e7e7e7;
}

.title{
    text-align: left;
    padding-left: 3em;
    line-height: 90px;
    font-size: 20px;
    color:  #00a1d7;
     border-bottom:  1px solid #e7e7e7;
}

.user{
     text-align: left;
     padding-left: 2em;
     /* margin-top: 1em; */
    line-height: 45px;
    font-size: 16px;
    color: #99a2aa;
    border-bottom:  1px solid #e7e7e7;
    
}


table{
    
     text-align: center;
     /* padding-left: 2em; */
     /* margin-top: 1em; */
    line-height: 45px;
    font-size: 16px;
    color: #99a2aa;
    border-bottom:  1px solid #e7e7e7;
}


#start{
     color: #000;
   
}

table tr th, table tr td{
      border-bottom:  1px solid #e7e7e7;  
}

.start{
    width: 15em;
   
}

.next{
     width: 30em;
    
}
.end{
     width: 14em; 
}
.end2{
     width: 6em;
}
a{
     cursor: pointer;
}
.noc{
    padding-left: 3em;
    padding-top: 2em;
    line-height: 37px;
    font-size: 18px;
    
}